<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="login.css" type="text/css">
</head>
<body>
<div class="login-form">
    <h1>CHECK YOUR EMAIL</h1>
</div>
<div class="login-form">
    <form action="checkemail" method="POST">
        <input type="submit" value="OK">
    </form></div>
</body>
</body>
</html>