<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="login.css" type="text/css">
</head>
<body>
<div class="login-form">
    <h1>FORGOT PASSWORD?</h1>
    <form action="reset" method="POST">
        <input type="text" name="email" placeholder="Email" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="submit" value="SEND EMAIL">
    </form>
</div>
</body>
</html>