<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sudoku Login</title>
    <link rel="stylesheet" href="login.css" type="text/css">
</head>
<body>
<div class="login-form">
    <h1>LOGIN</h1>
    <form action="login" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="LOGIN">
    </form>
</div>
<div class="login-form">
    <form action="register1" method="POST">
        <input type="submit" value="CREATE NEW ACCOUNT">
    </form></div>
</body>
</html>