<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Sudoku App</title>
      <script>
        const roomName = "<%= roomName %>" //roomName po lewej - odwolujemy sie po stronie serwera i klienta
        //roomName po prawej - przechowujemy zeby stworzyc w ogole room 
      </script>
      <script defer src="/socket.io/socket.io.js"></script>
      <script defer src="script.js"></script>
      <style>
        #message-container, #send-container, #select-container
        {
          margin-left: auto;
          margin-right: auto;
        }
        .select-class
        {
          margin: auto 0px;
        }
        #message-container
        {
        max-width: 100vw;
        font-size: 1rem;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        position: relative;
        }
        #message-container div 
        {
        background-color: #CCC;
        padding: 5px;
        }
        #message-container div:nth-child(2n) 
        {
        background-color: #FFF;
        }
        #send-container 
        {
        position: relative;
        padding: 5px;
        bottom: 0;
        background-color: white;
        clear: both;
        display: flex;
        }
        #message-input 
        {
        clear: both;
        flex-grow: 1;
        }
        .center
        {
        text-align: center;
        }
        table 
        {
        margin:1em auto;
        }
        td 
        {
        border:1px solid;
        text-align:center;
        }
        td:first-child 
        {
        border-left:solid;
        }
        td:nth-child(3n) 
        {
        border-right:solid;
        }
        tr:first-child 
        {
        border-top:solid;
        }
        tr:nth-child(3n) td 
        {
        border-bottom:solid ;
        }
        #sudoku input[type="text"], #seconds
        { 
        display: inline-block;
        height: 1.4rem;
        text-align: center;
        }
        #sudoku input[type="text"]
        {
          width: 1.4rem;
        }
        #seconds
        {
          width: max-content;
        }
        .wrapper 
        {
        text-align: center;
        }
        #parameters
        {
        margin-top: 1.5rem;
        text-align: center;
        }
        select 
        {
          display: block;
          margin: 0.5rem auto;
        }
      </style>
    </head>
    <body>
    <h2>Playing as: <%= user %> </h2>
    <p class="center">Time remaining:
        <input id="seconds" type="text" style="font-weight:bold" onkeydown="return false"></input>
      </p>
      <table id="sudoku"></table>
      <script>
        function createSudoku()
        {
        for(var a = 0; a < 9; a++)
        {
         var table_row = document.createElement('tr');
         table_row.id = `${a}`;
         for (var b = 0; b < 9; b++)
         {
            var table_data = document.createElement('td');
            table_data.id = `${b}`;
            table_row.appendChild(table_data);
            var sudoku_field = document.createElement('input');
            sudoku_field.type = 'text';
            sudoku_field.pattern = '[1-9]{1}';
            sudoku_field.title = 'One number from 1-9';
            sudoku_field.maxLength = 1;
            sudoku_field.id = `${a}${b}`;
            sudoku_field.value = "";
            sudoku_field.setAttribute("onkeydown", "return false");
            sudoku_field.style = "background-color: #808080; color: #ffffff";
            table_data.appendChild(sudoku_field);
         }
         document.getElementById("sudoku").appendChild(table_row);
        }
        }
        
        createSudoku();
      </script>
      <script src="timeout.js"></script>
      <div class="wrapper">
        <button id="submit-sudoku">Submit</button>
      </div>
      <form name="input" id="parameters">
        Minutes (between 3 and 10):
        <input type="number" id="minutes-input" maxlength="1" min="3" max="10" required></textarea>
        <button type="submit" id="minutes-button">Start</button>
      </form>
      <p class="center">Difficulty level:</p>
        <select id="level">
              <option value="1">Hard</option>
              <option value="2">Medium</option>
              <option value="3">Easy</option>
              <option value="4">Supereasy</option>
        </select>
      
      <form id="send-container">
        <input type="text" id="message-input">
        <button type="submit" id="send-button">Send</button>
      </form>
      <div id="message-container"></div>
    </body>
  </html>